<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta th:include="_header :: meta" />
<link th:include="_header :: stylesheet"></link>
</head>

<body>

	<div class="container">
		<div th:include="_header :: menu"></div>


		<div class="row">
			<div class="col-md-12">
				<h2>Overview</h2>
				<p>
					This software is made to perform some statistics on <a
						href="http://alfresco.com">Alfresco</a> Database.
				</p>
				<p class="text-danger">Tried with Alfresco Enterprise 4.1, 4.2
					and 5.0 - Might works with community version</p>

				<p>Support needs? contact-us.</p>
			</div>

			<div class="col-md-12">
				<h2>Alfresco Disk Usage</h2>
				<p>This tool prints size of directories in Alfresco.</p>

				<div class="col-md-6">
					<p>
						<b>First</b> we need to load data from the databases.
					</p>
					<p>
						<a th:href="@{/init}" class="btn btn-primary" role="button">Compute
							Disk Usage</a>
					</p>
					<p class="text-danger">This may take a while.</p>
				</div>
				<div class="col-md-6">

					<p>Then you would browse directories</p>
					<p>
						<a th:href="@{/print}" class="btn btn-primary" role="button">Browse..</a>
					</p>
				</div>
			</div>
		</div>


		<div th:include="_footer :: error"></div>
		<div th:include="_footer :: footer"></div>
	</div>
	<div th:include="_footer :: scripts"></div>
</body>
</html>
