<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="author" content="http://jeci.fr, Jérémie Lesage" />
<meta name="description" content="" />
<link rel="shortcut icon" type="image/x-icon" href="ico/favicon.png" />

<title th:text="|${title} - v.${version}|"></title>

<link th:include="_header :: stylesheet"></link>
</head>

<body>

	<div class="container">
		<div th:include="_header :: menu"></div>


		<p th:if="${param.logout}" class="alert">You have been logged out</p>

		<p th:if="${param.error}" class="alert alert-error">There was an
			error, please try again</p>

		<form name="form" th:action="@{/login}" action="/login" method="POST"
			class="form-signin" role="form">

			<h2 class="form-signin-heading">Please sign in</h2>

			<input type="text" class="form-control" placeholder="Username"
				name="username" value="" /> <input type="password"
				class="form-control" placeholder="Password" name="password" />

			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign
				in</button>

		</form>

		<div th:include="_footer :: footer"></div>
	</div>

	<div th:include="_footer :: scripts"></div>
</body>
</html>