<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta th:include="_header :: meta" />
<link th:include="_header :: stylesheet"></link>
<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet"></link>
</head>

<body>
	<div class="container">

		<div th:include="_header :: menu"></div>

		<div class="header">
			<h2 class="sub-header" th:if="${dir}"
				th:text="|Directory : ${dir.label}|">Dir Name</h2>
			<h2 class="sub-header" th:if="not ${dir}" th:text="${title}">Titre
				Standard</h2>
			<p th:unless="${dir == null}">
				<b>Full Path</b> : <span th:text="${path}"></span>
			</p>
		</div>
		<!-- header -->



		<div class="row">
			<div class="col-md-3" th:if="${dir}">
				<h3 class="sub-header">Metadata</h3>
				<table>
					<tr>
						<td><b>Noderef </b> :</td>
						<td th:text="${dir.nodeRef}"></td>
					</tr>
					<tr>
						<td><b>Name </b> :</td>
						<td th:text="${dir.label}"></td>
					</tr>
					<tr>
						<td><b>Full Size</b> :</td>
						<td th:text="${dir.fullSizeReadable}"></td>
					</tr>
				</table>
			</div>
			
			<!-- Child nodes -->
			
			<div class="col-md-9">
				<h3 class="sub-header">Childs Nodes</h3>
				<div class="table-responsive">
					<table class="table table-striped" style="table-layout: fixed; word-wrap: break-word;"
						th:with="sort=${param.containsKey('sort')?param.sort[0]:'none'}">
						<thead>
							<tr th:with="nodeid=${dir}?${dir.nodeid}:0">
								<th th:switch="${sort}" style="width:65%">
									<th:block th:case="'name'">
										<a th:href="@{/print(nodeid=${dir.nodeid}, sort='name_r')}">Folder Name</a>
								  		<span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span>
								  	</th:block>
									<th:block th:case="'name_r'" >
										<a th:href="@{/print(nodeid=${dir.nodeid}, sort='none')}">Folder Name</a>
								  		<span class="glyphicon glyphicon-sort-by-alphabet-alt" aria-hidden="true"></span>
								  	</th:block>
									<th:block th:case="*">
										<a th:href="@{/print(nodeid=${nodeid}, sort='name')}">Folder Name</a>
								  	</th:block>
								</th>
								<th th:switch="${sort}" style="text-align:right;">
									<th:block th:case="'full'">
										<a th:href="@{/print(nodeid=${nodeid}, sort='full_r')}">Full Size</a>
								  		<span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
								  	</th:block>
									<th:block th:case="'full_r'">
										<a th:href="@{/print(nodeid=${nodeid}, sort='none')}">Full Size</a>
								  		<span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
								  	</th:block>
									<th:block th:case="*">
										<a th:href="@{/print(nodeid=${nodeid}, sort='full')}">Full Size</a>
								  	</th:block>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr th:class="'odd'" th:unless="${dir == null}">
							<td><a th:href="@{print(nodeid=${dir.parent}, sort=${sort})}"><span class="glyphicon glyphicon-level-up"></span> ..</a>
							</td></tr>
							<tr th:each="node,iterStat : ${nodes}" th:class="${iterStat.odd}? 'odd'">

								<td th:switch="${node.type}">
									<td:block th:case="'Directory'">
										<i class="fas fa-folder"></i>
										<a th:href="@{/print(nodeid=${node.nodeid}, sort=${sort})}"> <th:block
												th:if="not ${dir}">
												<th:block
													th:if="${#strings.startsWith(node.nodeRef,'system://system')}">System Store</th:block>
												<th:block
													th:if="${#strings.startsWith(node.nodeRef,'workspace://version2Store')}">Version Store</th:block>
												<th:block
													th:if="${#strings.startsWith(node.nodeRef,'archive://SpacesStore')}">Archive Store</th:block>
												<th:block
													th:if="${#strings.startsWith(node.nodeRef,'workspace://SpacesStore')}">WorkSpace Store</th:block>
											</th:block> <th:block th:if="${dir}">
												<th:block th:text="${node.label}">Node Label</th:block>
											</th:block>
										</a>
									</td:block>
									<td:block th:case="'File'">
										<i class="fas fa-file"></i>
										<th:block th:text="${node.label}">Node Label</th:block>
									</td:block>
								</td>
								<td th:text="${node.fullSizeReadable}" style="text-align: right;">Full Size</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
			<div th:if="${dir}!=null" class="col-md-9">
							<acronym title="You would export a list of all file/directories from the actual one">
							
							  <button type="button" class="btn btn-primary dropdown-toggle" id="btnExport" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Export
							  		<span class="caret"></span>
  							  </button>
										  <ul class="dropdown-menu">
										     <li><a th:href="@{/export(nodeid=${dir.nodeid},type='File')}">Files</a></li>
										     <li><a th:href="@{/export(nodeid=${dir.nodeid},type='Directory')}">Directories</a></li>
										     <li><a th:href="@{/export(nodeid=${dir.nodeid},type='Both')}" >Files and Directories</a></li>
										  </ul>
							</acronym>
							<p id="p_msg" th:text="${duration}">This may take a while.</p>
						 	<p id="p_error" class="text-danger" th:text="${error}"></p>
			</div>
		</div>
		<div th:include="_footer :: error"></div>
		<div th:include="_footer :: footer"></div>
	</div>


	<div th:include="_footer :: scripts"></div>

</body>
</html>
